.header{
    background-color: brown;
    height: 50px;
    color: blue;
    margin: 0px;
    padding: 0px;
}

.contentStyle {
  height: 360px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
};

